# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.venv/
venv/
ENV/

# Секреты и конфигурация
.env

# Данные бота
data/
!data/templates/
!data/templates/builtin/
!data/templates/builtin/**
Output/
bot_state.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.github

# Логи
*.log

# OS
.DS_Store
Thumbs.db
123